{% extends "base.jinja" %}

{% block title %}
    {{ TITLE }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {{ instance.nome }}
    </div>
</div>
{% endblock %}
