{% extends "base.jinja" %}

{% block content %}

<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2>401</h2>
        <h5>Você não é autorizado a acessar este conteúdo.</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
