{% extends "base.jinja" %}

{% block content %}

<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2>500</h2>
        <h5>Internal Server Error</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock %}
