{% import "bootstrap/google.html" as google %}


{# CSS #}
{% block styles %}
    <script src="https://use.fontawesome.com/a2bd160095.js"></script>
    {% assets filters="cssmin", output="gen/packed.css", "css/bootstrap.css", "css/site.css"  %}
          <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{# NavBar #}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('public.home')}}"><img src="{{config['SITE_LOGO']}}"></a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% include "security/_menu.html" %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('public.home')}}">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{# Content #}

{% block content %}{%endblock%}


{# JS Script #}
{% block scripts %}
    {%- if current_user.is_authenticated -%}
        {% if config['GOOGLE_ANALYTICS_ID'] %}
            {{google.uanalytics(config['GOOGLE_ANALYTICS_ID', {'userId': current_user.pk}])}}
        {% else %}
            {{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}
        {% endif %}
    {%endif%}
    {% assets filters="jsmin", output="gen/app.js", "js/bootstrap.js", "js/app.js" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
